src/main/java/CuepPOJO3/cuep1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:sig="http://www.w3.org/2000/09/xmldsig#"
			xmlns:erp="http://www.sukl.cz/erp/cuep" xmlns:erp2="http://www.sukl.cz/erp/common"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/"
			targetNamespace="http://www.sukl.cz/erp/cuep" elementFormDefault="qualified"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.w3.org/2005/05/xmlmime ">
	<!--202307A-->
	<xsd:import schemaLocation="/schema2.xsd" namespace="http://www.w3.org/2000/09/xmldsig#"/>
	<xsd:import schemaLocation="/CommonSchema.xsd" namespace="http://www.sukl.cz/erp/common"/>

	<xsd:simpleType name="id_dokladu_type">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="collapse"/>
			<xsd:minLength value="9"/>
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typ_elektronickeho_poukazu">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LecebnaOrtopedicka"/>
			<xsd:enumeration value="Foniatricka"/>
			<xsd:enumeration value="Opticka"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stav_elektronickeho_poukazu">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PREDEPSANY"/>
			<xsd:enumeration value="PRIPRAVOVANY"/>
			<xsd:enumeration value="CASTECNE_VYDANY"/>
			<xsd:enumeration value="PLNE_VYDANY"/>
			<xsd:enumeration value="NEDOKONCENY_VYDEJ"/>
			<xsd:enumeration value="CEKA_NA_PODKLADY"/>
			<xsd:enumeration value="PRIPRAVOVANE_PODKLADY"/>
			<xsd:enumeration value="DODANE_PODKLADY"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stav_schvalovani_poukazu">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NEVYZADUJE_SCHVALENI"/>
			<xsd:enumeration value="KE_SCHVALENI"/>
			<xsd:enumeration value="PREVZATO_ZP"/>
			<xsd:enumeration value="INFORMACE_PRO_ZP"/>
			<xsd:enumeration value="SCHVALENY"/>
			<xsd:enumeration value="ZAMITNUTY"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="upresneni_notifikace_schvalovani_poukazu">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EPOUKAZ_SCHVALEN_PRIPRAVENO"/>
			<xsd:enumeration value="EPOUKAZ_SCHVALEN_VYCKEJTE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ulozeni_stav_elektronickeho_poukazu">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PREDEPSANY"/>
			<xsd:enumeration value="CEKA_NA_PODKLADY"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ulozeni_stav_schvalovani_poukazu">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NEVYZADUJE_SCHVALENI"/>
			<xsd:enumeration value="KE_SCHVALENI"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="schvaleni_stav_schvalovani_poukazu">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PREVZATO_ZP"/>
			<xsd:enumeration value="INFORMACE_PRO_ZP"/>
			<xsd:enumeration value="SCHVALENY"/>
			<xsd:enumeration value="ZAMITNUTY"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="uhrada_type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PACIENT"/>
			<xsd:enumeration value="UHR1"/>
			<xsd:enumeration value="UHR2"/>
			<xsd:enumeration value="UHR3"/>
			<xsd:enumeration value="PACIENT_ZAM"/>
			<xsd:enumeration value="UHR1_ZAM"/>
			<xsd:enumeration value="UHR2_ZAM"/>
			<xsd:enumeration value="UHR3_ZAM"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="lecebna_pomucka_docasna">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DOCASNA"/>
			<xsd:enumeration value="TRVALA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="lecebna_pomucka_repasovana">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NOVA"/>
			<xsd:enumeration value="REPASOVANA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="optika_vzdalenost">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DALKA"/>
			<xsd:enumeration value="BLIZKO"/>
			<xsd:enumeration value="STRED"/>
			<xsd:enumeration value="JINAVZDALENOST"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="optika_bifokalni_typ">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="STRABISMUS"/>
			<xsd:enumeration value="PRESBYOPIE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="optika_ochylka_vertikalni">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NAHORU"/>
			<xsd:enumeration value="DOLU"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="optika_ochylka_horizontalni">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NASALNE"/>
			<xsd:enumeration value="TEMPORALNE"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="ostatni_diagnozy_type">
		<xsd:sequence>
			<xsd:element name="Diagnoza" minOccurs="1" maxOccurs="unbounded">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_pacient_type">
		<xsd:sequence>
			<xsd:element ref="erp2:Totoznost"/>
			<xsd:element name="CP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{9,10}"/>
						<xsd:minLength value="9"/>
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ZP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{3}"/>
						<xsd:length value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Telefon" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Email" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="3"/>
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Notifikace" type="erp2:notifikace" minOccurs="0"/>
			<xsd:element name="Veznice" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Hmotnost" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.5"/>
						<xsd:totalDigits value="9"/>
						<xsd:fractionDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Pohlavi" type="erp2:pohlavi" minOccurs="0"/>
			<xsd:element name="KontaktniAdresa" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1024"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_predepisujici_type">
		<xsd:sequence>
			<xsd:element name="Uzivatel">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Oddeleni" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ICZ" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{8}"/>
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ICP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{8}"/>
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PZS">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{11}"/>
						<xsd:length value="11"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Telefon">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Email" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="3"/>
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Odbornost" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9A-Z][0-9A-Z][0-9A-Z]"/>
						<xsd:length value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_revize_type">
		<xsd:sequence>
			<xsd:element name="SpecifikacePozadavku" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Zduvodneni" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ZadankaPZS" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DatumSignalniKod" type="xsd:date" minOccurs="0"/>
			<xsd:element name="DatumPodani" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_vydavajici_type">
		<xsd:sequence>
			<xsd:element name="Uzivatel">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ICZ" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{8}"/>
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Telefon">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Vydejna">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{11}"/>
						<xsd:length value="11"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_oko_type">
		<xsd:sequence>
			<xsd:element name="SferaDioptrie" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="5"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CylindrDP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="5"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CylindrOsa" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Addice" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="5"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OdchylkaVertikalni" type="erp:optika_ochylka_vertikalni" minOccurs="0"/>
			<xsd:element name="OdchylkaVertikalniPrisma" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="5"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OdchylkaHorizontalni" type="erp:optika_ochylka_horizontalni" minOccurs="0"/>
			<xsd:element name="OdchylkaHorizontalniPrisma" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="5"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PrismaDP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="5"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PrismaBasis" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_poukaz_zdrav_prostredek_epo_type">
		<xsd:sequence>
			<xsd:element name="Kod" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nazev" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="70"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Skupina" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Mnozstvi">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.01"/>
						<xsd:maxInclusive value="9999.99"/>
						<xsd:totalDigits value="6"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MJ" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Uhrada" type="erp:uhrada_type" minOccurs="1"/>
			<xsd:element name="Nezamenovat" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="ID_ZP_Zdroj">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:totalDigits value="14"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_poukaz_zdrav_prostredek_epo_type">
		<xsd:complexContent>
			<xsd:extension base="erp:ulozeni_poukaz_zdrav_prostredek_epo_type">
				<xsd:sequence>
					<xsd:element name="ID_ZP">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:pattern
										value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ZamenaZdravotniPojistovna" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Kod" minOccurs="1">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:whiteSpace value="collapse"/>
											<xsd:minLength value="1"/>
											<xsd:maxLength value="7"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Nazev" minOccurs="0">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:whiteSpace value="collapse"/>
											<xsd:minLength value="1"/>
											<xsd:maxLength value="70"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="Mnozstvi">
									<xsd:simpleType>
										<xsd:restriction base="xsd:decimal">
											<xsd:minInclusive value="0.01"/>
											<xsd:maxInclusive value="9999.99"/>
											<xsd:totalDigits value="6"/>
											<xsd:fractionDigits value="2"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="MJ" minOccurs="0">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:whiteSpace value="collapse"/>
											<xsd:minLength value="1"/>
											<xsd:maxLength value="4"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_poukaz_optika_provedeni_skel_type">
		<xsd:sequence>
			<xsd:element name="Kod" maxOccurs="unbounded">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_poukaz_epo_type">
		<xsd:sequence>
			<xsd:element name="ZPL" type="erp:ulozeni_poukaz_zdrav_prostredek_epo_type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_poukaz_foniatricka_epo_type">
		<xsd:complexContent>
			<xsd:extension base="erp:ulozeni_poukaz_epo_type">
				<xsd:sequence>
					<xsd:element name="IndikacniSkupina">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="7"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_poukaz_opticka_epo_type">
		<xsd:complexContent>
			<xsd:extension base="erp:ulozeni_poukaz_epo_type">
				<xsd:sequence>
					<xsd:element name="TypPomucky">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Vzdalenost" type="erp:optika_vzdalenost" minOccurs="0"/>
					<xsd:element name="BifokalniTyp" type="erp:optika_bifokalni_typ" minOccurs="0"/>
					<xsd:element name="AbsorpcniVrstva" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PraveOko" type="erp:ulozeni_oko_type" minOccurs="0"/>
					<xsd:element name="LeveOko" type="erp:ulozeni_oko_type" minOccurs="0"/>
					<xsd:element name="ProvedeniSkel" type="erp:ulozeni_poukaz_optika_provedeni_skel_type"
								 minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_poukaz_lecebna_epo_type">
		<xsd:complexContent>
			<xsd:extension base="erp:ulozeni_poukaz_epo_type">
				<xsd:sequence>
					<xsd:element name="StupenInkontinence" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:minLength value="1"/>
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Docasna" type="erp:lecebna_pomucka_docasna" minOccurs="0"/>
					<xsd:element name="DocasnaPocetMesicu" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="3"/>
								<xsd:fractionDigits value="0"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VlastnikZP" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="Repasovana" type="erp:lecebna_pomucka_repasovana" minOccurs="0"/>
					<xsd:element name="ICPDelegujicihoOL" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:minLength value="8"/>
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="nacteni_poukaz_epo_type">
		<xsd:sequence>
			<xsd:element name="ZPL" type="erp:nacteni_poukaz_zdrav_prostredek_epo_type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_poukaz_foniatricka_epo_type">
		<xsd:complexContent>
			<xsd:extension base="erp:nacteni_poukaz_epo_type">
				<xsd:sequence>
					<xsd:element name="IndikacniSkupina">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="7"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="nacteni_poukaz_opticka_epo_type">
		<xsd:complexContent>
			<xsd:extension base="erp:nacteni_poukaz_epo_type">
				<xsd:sequence>
					<xsd:element name="TypPomucky">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Vzdalenost" type="erp:optika_vzdalenost" minOccurs="0"/>
					<xsd:element name="BifokalniTyp" type="erp:optika_bifokalni_typ" minOccurs="0"/>
					<xsd:element name="AbsorpcniVrstva" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PraveOko" type="erp:ulozeni_oko_type" minOccurs="0"/>
					<xsd:element name="LeveOko" type="erp:ulozeni_oko_type" minOccurs="0"/>
					<xsd:element name="ProvedeniSkel" type="erp:ulozeni_poukaz_optika_provedeni_skel_type"
								 minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="nacteni_poukaz_lecebna_epo_type">
		<xsd:complexContent>
			<xsd:extension base="erp:nacteni_poukaz_epo_type">
				<xsd:sequence>
					<xsd:element name="StupenInkontinence" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:minLength value="1"/>
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Docasna" type="erp:lecebna_pomucka_docasna" minOccurs="0"/>
					<xsd:element name="DocasnaPocetMesicu" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="3"/>
								<xsd:fractionDigits value="0"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VlastnikZP" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="Repasovana" type="erp:lecebna_pomucka_repasovana" minOccurs="0"/>
					<xsd:element name="ICPDelegujicihoOL" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:minLength value="8"/>
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="ulozeni_vydany_zp_epo_type">
		<xsd:sequence>
			<xsd:element name="Mnozstvi">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.01"/>
						<xsd:maxInclusive value="9999.99"/>
						<xsd:totalDigits value="6"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Kod">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nazev" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="70"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Navod" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CenaCelkem" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.00"/>
						<xsd:maxInclusive value="9999999.99"/>
						<xsd:totalDigits value="9"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HrazenoZP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.00"/>
						<xsd:maxInclusive value="9999999.99"/>
						<xsd:totalDigits value="9"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sarze" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SerioveCislo" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ID_ZP_Zdroj" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:totalDigits value="14"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ID_ZP_EPO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern
								value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
						<xsd:length value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="zalozeni_predpisu_epo_doklad_dotaz_type">
		<xsd:sequence>
			<xsd:element name="DatumVystaveni" type="xsd:date"/>
			<xsd:element name="PlatnostDo" type="xsd:date"/>
			<xsd:element name="Rodina" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Pacient" type="erp:ulozeni_pacient_type"/>
			<xsd:element name="Predepisujici" type="erp:ulozeni_predepisujici_type"/>
			<xsd:element name="Revize" type="erp:ulozeni_revize_type" minOccurs="0"/>
			<xsd:element name="Foniatricka" type="erp:ulozeni_poukaz_foniatricka_epo_type" minOccurs="0"/>
			<xsd:element name="Opticka" type="erp:ulozeni_poukaz_opticka_epo_type" minOccurs="0"/>
			<xsd:element name="Lecebna" type="erp:ulozeni_poukaz_lecebna_epo_type" minOccurs="0"/>
			<xsd:element name="Diagnoza" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OstatniDiagnozy" type="erp:ostatni_diagnozy_type" minOccurs="0"/>
			<xsd:element name="Pozn" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PoznamkaPredepisujiciProZP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DruhPojisteni" type="erp2:druh_pojisteni" minOccurs="0"/>
			<xsd:element name="StavPoukazu" type="erp:ulozeni_stav_elektronickeho_poukazu"/>
			<xsd:element name="StavSchvalovani" type="erp:ulozeni_stav_schvalovani_poukazu"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="zmena_predpisu_epo_doklad_dotaz_type">
		<xsd:complexContent>
			<xsd:extension base="erp:zalozeni_predpisu_epo_doklad_dotaz_type">
				<xsd:sequence>
					<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
					<xsd:element name="AutorizacniID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:pattern
										value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_zp_odpoved_type">
		<xsd:sequence>
			<xsd:element name="ID_ZP_Zdroj">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:totalDigits value="14"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ID_ZP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern
								value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
						<xsd:length value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_dokladu_doklad_odpoved_type">
		<xsd:sequence>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
			<xsd:element name="ZPL" type="erp:ulozeni_zp_odpoved_type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="zalozeni_predpisu_epo_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:zalozeni_predpisu_epo_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
			<xsd:element ref="sig:Signature" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="zmena_predpisu_epo_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:zmena_predpisu_epo_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
			<xsd:element ref="sig:Signature" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ulozeni_dokladu_odpoved_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:ulozeni_dokladu_doklad_odpoved_type"/>
			<xsd:element ref="erp2:Chyba" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="erp2:ZpravaOdpoved"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="zruseni_dokladu_doklad_dotaz_type">
		<xsd:complexContent>
			<xsd:extension base="erp2:zruseni_dokladu_doklad_dotaz_type">
				<xsd:sequence>
					<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="zruseni_dokladu_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:zruseni_dokladu_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="zalozeni_vydeje_epo_doklad_dotaz_type">
		<xsd:sequence>
			<xsd:element name="DatumVydeje" type="xsd:date"/>
			<xsd:element name="Vydavajici" type="erp:ulozeni_vydavajici_type"/>
			<xsd:element name="VZPL" type="erp:ulozeni_vydany_zp_epo_type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Pozn" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ID_Dokladu_EPO" type="erp:id_dokladu_type"/>
			<xsd:element name="StavPoukazu" type="erp:stav_elektronickeho_poukazu"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="zmena_vydeje_epo_doklad_dotaz_type">
		<xsd:complexContent>
			<xsd:extension base="erp:zalozeni_vydeje_epo_doklad_dotaz_type">
				<xsd:sequence>
					<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
					<xsd:element name="AutorizacniID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:pattern
										value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="zalozeni_vydeje_epo_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:zalozeni_vydeje_epo_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
			<xsd:element ref="sig:Signature" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="zmena_vydeje_epo_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:zmena_vydeje_epo_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
			<xsd:element ref="sig:Signature" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="zruseni_vydeje_epo_doklad_dotaz_type">
		<xsd:complexContent>
			<xsd:extension base="erp2:zruseni_dokladu_doklad_dotaz_type">
				<xsd:sequence>
					<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
					<xsd:element name="ID_Dokladu_EPO" type="erp:id_dokladu_type"/>
					<xsd:element name="Stav_EPO" type="erp:stav_elektronickeho_poukazu"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="zruseni_vydeje_epo_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:zruseni_vydeje_epo_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="nacteni_pacient_type">
		<xsd:sequence>
			<xsd:element ref="erp2:Totoznost"/>
			<xsd:element name="CP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{9,10}"/>
						<xsd:minLength value="9"/>
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ZP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{3}"/>
						<xsd:length value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Telefon" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Email" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="3"/>
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Notifikace" type="erp2:notifikace" minOccurs="0"/>
			<xsd:element name="Veznice" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Hmotnost" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.5"/>
						<xsd:totalDigits value="9"/>
						<xsd:fractionDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Pohlavi" type="erp2:pohlavi" minOccurs="0"/>
			<xsd:element name="KontaktniAdresa" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1024"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_predepisujici_type">
		<xsd:sequence>
			<xsd:element ref="erp2:Uzivatel" minOccurs="0"/>
			<xsd:element name="Oddeleni" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ICZ" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{8}"/>
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ICP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{8}"/>
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ref="erp2:PZS"/>
			<xsd:element name="Telefon">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Email" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="3"/>
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Odbornost" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9A-Z][0-9A-Z][0-9A-Z]"/>
						<xsd:length value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_revize_type">
		<xsd:complexContent>
			<xsd:extension base="erp:ulozeni_revize_type">
				<xsd:sequence>
					<xsd:element name="PozadovanaUhrada" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="9"/>
								<xsd:fractionDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Stanovisko" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:minLength value="1"/>
								<xsd:maxLength value="2000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ZadankaZP" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:totalDigits value="7"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VydejnaICZ" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:minLength value="8"/>
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EvidencniCisloZP" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:minLength value="1"/>
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DatumPredbezneSchvaleni" type="xsd:date" minOccurs="0"/>
					<xsd:element name="DatumOmezeni" type="xsd:date" minOccurs="0"/>
					<xsd:element name="DatumVyjadreniZP" type="xsd:date" minOccurs="0"/>
					<xsd:element name="ZP" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:pattern value="[0-9]{3}"/>
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element ref="erp2:Uzivatel"/>
					<xsd:element name="Telefon" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:minLength value="1"/>
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ZdravotniPojistovnaKontaktEmail" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:minLength value="1"/>
								<xsd:maxLength value="512"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="nacteni_zkraceny_zp_epo_type">
		<xsd:sequence>
			<xsd:element name="Mnozstvi">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.01"/>
						<xsd:maxInclusive value="9999.99"/>
						<xsd:totalDigits value="6"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MJ" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Kod" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nazev">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="70"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Navod">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_zkraceny_vzp_epo_type">
		<xsd:complexContent>
			<xsd:extension base="erp:nacteni_zkraceny_zp_epo_type">
				<xsd:sequence>
					<xsd:element name="ID_ZP_EPO" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="nacteni_zkraceny_vydej_epo_doklad_odpoved_type">
		<xsd:sequence>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
			<xsd:element name="ID_Dokladu_EPO" type="erp:id_dokladu_type"/>
			<xsd:element name="DatumVydeje" type="xsd:date"/>
			<xsd:element name="NazevPZS" type="xsd:string"/>
			<xsd:element name="JmenoVydavajiciho" type="xsd:string"/>
			<xsd:element name="VZPL" type="erp:nacteni_zkraceny_vzp_epo_type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Pozn" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Zmena" type="xsd:dateTime"/>
			<xsd:element name="Zalozeni" type="xsd:dateTime"/>
			<xsd:element ref="erp2:Zruseni" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="identifikace_dokladu_type">
		<xsd:sequence>
			<xsd:element name="ID_Podani" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern
								value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
						<xsd:length value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ID_Dokladu" minOccurs="0" type="erp:id_dokladu_type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_dokladu_doklad_dotaz_type">
		<xsd:sequence>
			<xsd:element ref="erp2:Pristupujici"/>
			<xsd:element name="Identifikator" type="erp:identifikace_dokladu_type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_dokladu_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:nacteni_dokladu_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_zkraceny_predpis_doklad_odpoved_type">
		<xsd:sequence>
			<xsd:element name="TypPoukazu" type="erp:typ_elektronickeho_poukazu"/>
			<xsd:element name="ID_Dokladu" type="xsd:string"/>
			<xsd:element name="DatumVystaveni" type="xsd:date"/>
			<xsd:element name="DatumUplatneni" type="xsd:date" minOccurs="0"/>
			<xsd:element name="PlatnostDo" type="xsd:date"/>
			<xsd:element name="NazevPZS" type="xsd:string"/>
			<xsd:element name="JmenoPredepisujiciho" type="xsd:string"/>
			<xsd:element name="KodPredepisujiciho" type="xsd:string"/>
			<xsd:element name="JmenoPacienta" type="xsd:string"/>
			<xsd:element name="KodPacienta" type="xsd:string"/>
			<xsd:element name="ZPL" type="erp:nacteni_zkraceny_zp_epo_type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Pozn" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PoznamkaPredepisujiciProZP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PoznamkaZPProPredepisujiciho" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StavPoukazu" type="erp:stav_elektronickeho_poukazu"/>
			<xsd:element name="StavSchvalovani" type="erp:stav_schvalovani_poukazu"/>
			<xsd:element name="Zmena" type="xsd:dateTime"/>
			<xsd:element name="Zalozeni" type="xsd:dateTime"/>
			<xsd:element name="Zruseni" type="erp2:zruseni_type" minOccurs="0"/>
			<xsd:element name="DruhPojisteni" type="erp2:druh_pojisteni" minOccurs="0"/>
			<xsd:element name="ROB" type="erp2:rob_ztotozneni" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_zkraceny_pripravovany_predpis_doklad_odpoved_type">
		<xsd:complexContent>
			<xsd:extension base="erp:nacteni_zkraceny_predpis_doklad_odpoved_type">
				<xsd:sequence>
					<xsd:element name="DatumCasPripraveno" type="xsd:dateTime"/>
					<xsd:element name="PoznamkaPripravy" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="nacteni_predpisu_doklad_odpoved_type">
		<xsd:sequence>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
			<xsd:element name="DatumVystaveni" type="xsd:date"/>
			<xsd:element name="PlatnostDo" type="xsd:date"/>
			<xsd:element name="DatumUplatneni" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Rodina" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Pacient" type="erp:nacteni_pacient_type"/>
			<xsd:element name="Predepisujici" type="erp:nacteni_predepisujici_type"/>
			<xsd:element name="Revize" type="erp:nacteni_revize_type" minOccurs="0"/>
			<xsd:element name="Foniatricka" type="erp:nacteni_poukaz_foniatricka_epo_type" minOccurs="0"/>
			<xsd:element name="Opticka" type="erp:nacteni_poukaz_opticka_epo_type" minOccurs="0"/>
			<xsd:element name="Lecebna" type="erp:nacteni_poukaz_lecebna_epo_type" minOccurs="0"/>
			<xsd:element name="Diagnoza" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OstatniDiagnozy" type="erp:ostatni_diagnozy_type" minOccurs="0"/>
			<xsd:element name="Pozn" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PoznamkaPredepisujiciProZP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PoznamkaZPProPredepisujiciho" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DruhPojisteni" type="erp2:druh_pojisteni" minOccurs="0"/>
			<xsd:element name="StavPoukazu" type="erp:stav_elektronickeho_poukazu"/>
			<xsd:element name="StavSchvalovani" type="erp:stav_schvalovani_poukazu"/>
			<xsd:element name="Vydej" type="erp:nacteni_zkraceny_vydej_epo_doklad_odpoved_type" minOccurs="0"
						 maxOccurs="unbounded"/>
			<xsd:element name="PocetPriloh">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Zalozeni" type="xsd:dateTime"/>
			<xsd:element name="Zmena" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_predpisu_epo_odpoved_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:nacteni_predpisu_doklad_odpoved_type"/>
			<xsd:element ref="erp2:ZpravaOdpoved"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="nacteni_vydany_zp_epo_type">
		<xsd:sequence>
			<xsd:element name="Mnozstvi">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.01"/>
						<xsd:maxInclusive value="9999.99"/>
						<xsd:totalDigits value="6"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Kod" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nazev" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="70"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Navod">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CenaCelkem" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.00"/>
						<xsd:maxInclusive value="9999999.99"/>
						<xsd:totalDigits value="9"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HrazenoZP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.00"/>
						<xsd:maxInclusive value="9999999.99"/>
						<xsd:totalDigits value="9"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sarze" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SerioveCislo" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ID_ZP_Zdroj" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:totalDigits value="14"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ID_ZP_EPO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern
								value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
						<xsd:length value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ID_ZP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern
								value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_vydavajici_type">
		<xsd:sequence>
			<xsd:element ref="erp2:Uzivatel"/>
			<xsd:element name="ICZ" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{8}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Telefon">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ref="erp2:PZS"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_vydeje_doklad_odpoved_type">
		<xsd:sequence>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
			<xsd:element name="ID_Dokladu_EPO" type="erp:id_dokladu_type"/>
			<xsd:element name="DatumVydeje" type="xsd:date"/>
			<xsd:element name="Vydavajici" type="erp:nacteni_vydavajici_type"/>
			<xsd:element name="VZPL" type="erp:nacteni_vydany_zp_epo_type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Pozn" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Zmena" type="xsd:dateTime"/>
			<xsd:element name="Zalozeni" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_vydeje_epo_odpoved_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:nacteni_vydeje_doklad_odpoved_type"/>
			<xsd:element ref="erp2:ZpravaOdpoved"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="zmena_stavu_predpisu_doklad_type">
		<xsd:sequence>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
			<xsd:element ref="erp2:Pristupujici"/>
			<xsd:element name="Stav" type="erp:stav_elektronickeho_poukazu"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="zmena_stavu_predpisu_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:zmena_stavu_predpisu_doklad_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="zmena_stavu_schvalovani_predpisu_doklad_type">
		<xsd:sequence>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
			<xsd:element name="AutorizacniID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern
								value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ref="erp2:Pristupujici"/>
			<xsd:element name="Stav">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="KE_SCHVALENI"/>
						<xsd:enumeration value="PREVZATO_ZP"/>
						<xsd:enumeration value="INFORMACE_PRO_ZP"/>
						<xsd:enumeration value="SCHVALENY"/>
						<xsd:enumeration value="ZAMITNUTY"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="zmena_stavu_schvalovani_predpisu_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:zmena_stavu_schvalovani_predpisu_doklad_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="zmena_udaju_poukazu_doklad_type">
		<xsd:sequence>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
			<xsd:element ref="erp2:Pristupujici"/>
			<xsd:element name="ZP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CP" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="zmena_udaju_poukazu_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:zmena_udaju_poukazu_doklad_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="priloha_data_type">
		<xsd:sequence>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
			<xsd:element name="TypPrilohy" type="erp2:typ_prilohy"/>
			<xsd:element name="Nazev">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Popis" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ZP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="3"/>
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Soubor" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pripojeni_prilohy_doklad_odpoved_type">
		<xsd:sequence>
			<xsd:element name="ID_Prilohy">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern
								value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
						<xsd:length value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pripojeni_prilohy_doklad_type">
		<xsd:sequence>
			<xsd:element name="Priloha" type="erp:priloha_data_type"/>
			<xsd:element ref="erp2:Pristupujici"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pripojeni_prilohy_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:pripojeni_prilohy_doklad_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pripojeni_prilohy_odpoved_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:pripojeni_prilohy_doklad_odpoved_type"/>
			<xsd:element ref="erp2:ZpravaOdpoved"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="seznam_priloh_doklad_dotaz_type">
		<xsd:sequence>
			<xsd:element ref="erp2:Pristupujici"/>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="seznam_priloh_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:seznam_priloh_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="zkracena_priloha_type">
		<xsd:sequence>
			<xsd:element name="ID_Prilohy">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern
								value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
						<xsd:length value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TypPrilohy" type="erp2:typ_prilohy"/>
			<xsd:element name="Nazev">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Popis" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ZP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="3"/>
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="JmenoUzivatele">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RoleUzivatele" type="erp2:typ_pristupujiciho"/>
			<xsd:element ref="erp2:PZS"/>
			<xsd:element name="Zalozeni" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="seznam_priloh_doklad_odpoved_type">
		<xsd:sequence>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
			<xsd:element name="Priloha" type="erp:zkracena_priloha_type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="seznam_priloh_odpoved_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:seznam_priloh_doklad_odpoved_type"/>
			<xsd:element ref="erp2:ZpravaOdpoved"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_prilohy_doklad_dotaz_type">
		<xsd:sequence>
			<xsd:element ref="erp2:Pristupujici"/>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
			<xsd:element name="ID_Prilohy">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern
								value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
						<xsd:length value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_prilohy_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:nacteni_prilohy_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="kompletni_priloha_type">
		<xsd:complexContent>
			<xsd:extension base="erp:zkracena_priloha_type">
				<xsd:sequence>
					<xsd:element name="Soubor" type="xsd:base64Binary"
								 xmime:expectedContentTypes="application/octet-stream"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="nacteni_prilohy_doklad_odpoved_type">
		<xsd:sequence>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
			<xsd:element name="Priloha" type="erp:kompletni_priloha_type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_prilohy_odpoved_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:nacteni_prilohy_doklad_odpoved_type"/>
			<xsd:element ref="erp2:ZpravaOdpoved"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="nacteni_predpisu_ke_schvaleni_epo_doklad_dotaz_type">
		<xsd:sequence>
			<xsd:element name="DatumOd" type="xsd:date" minOccurs="0"/>
			<xsd:element name="DatumDo" type="xsd:date" minOccurs="0"/>
			<xsd:element ref="erp2:Pristupujici"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_predpisu_ke_schvaleni_epo_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:nacteni_predpisu_ke_schvaleni_epo_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_predpisu_se_zmenou_epo_doklad_dotaz_type">
		<xsd:sequence>
			<xsd:element name="DatumOd" type="xsd:date"/>
			<xsd:element name="DatumDo" type="xsd:date"/>
			<xsd:element ref="erp2:Pristupujici"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_predpisu_se_zmenou_epo_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:nacteni_predpisu_se_zmenou_epo_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_seznam_predpisu_epo_doklad_odpoved_type">
		<xsd:sequence>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_seznam_predpisu_epo_odpoved_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:nacteni_seznam_predpisu_epo_doklad_odpoved_type"/>
			<xsd:element ref="erp2:ZpravaOdpoved"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="nacteni_predpisu_signalni_kod_epo_doklad_dotaz_type">
		<xsd:sequence>
			<xsd:element name="SignalniKod">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ref="erp2:Totoznost"/>
			<xsd:element ref="erp2:Pristupujici"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_predpisu_signalni_kod_epo_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:nacteni_predpisu_signalni_kod_epo_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_predpisu_signalni_kod_epo_doklad_odpoved_type">
		<xsd:sequence>
			<xsd:element name="Predpis" type="erp:nacteni_predpisu_signalni_kod_epo_predpis" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_predpisu_signalni_kod_epo_predpis">
		<xsd:sequence>
			<xsd:element name="DatumZahajeni" type="xsd:date"/>
			<xsd:element name="SpecifikacePozadavku" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Zduvodneni" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ZP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:pattern value="[0-9]{3}"/>
						<xsd:length value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nacteni_predpisu_signalni_kod_epo_odpoved_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:nacteni_predpisu_signalni_kod_epo_doklad_odpoved_type"/>
			<xsd:element ref="erp2:ZpravaOdpoved"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="provedeni_schvaleni_predpisu_doklad_type">
		<xsd:sequence>
			<xsd:element name="ID_Dokladu" type="erp:id_dokladu_type"/>
			<xsd:element name="StavSchvaleni" type="erp:schvaleni_stav_schvalovani_poukazu"/>
			<xsd:element name="Stanovisko" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ZadankaZP" minOccurs="0" type="xsd:int"/>
			<xsd:element name="VydejnaICZ" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="8"/>
						<xsd:maxLength value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="EvidencniCisloZP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DatumPredbezneSchvaleni" minOccurs="0" type="xsd:date"/>
			<xsd:element name="DatumOmezeni" minOccurs="0" type="xsd:date"/>
			<xsd:element name="DatumVyjadreniZP" minOccurs="0" type="xsd:date"/>
			<xsd:element name="PoznamkaZPProPredepisujiciho" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ref="erp2:Jmeno" minOccurs="0"/>
			<xsd:element name="ZP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PozadovanaUhrada" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="9"/>
						<xsd:fractionDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ZamenaZdravotniPojistovna" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ID_ZP" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:whiteSpace value="collapse"/>
									<xsd:pattern
											value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Kod" minOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:whiteSpace value="collapse"/>
									<xsd:minLength value="1"/>
									<xsd:maxLength value="7"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Nazev" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:whiteSpace value="collapse"/>
									<xsd:minLength value="1"/>
									<xsd:maxLength value="70"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Mnozstvi">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:minInclusive value="0.01"/>
									<xsd:maxInclusive value="9999.99"/>
									<xsd:totalDigits value="6"/>
									<xsd:fractionDigits value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="MJ" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:whiteSpace value="collapse"/>
									<xsd:minLength value="1"/>
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="erp2:Pristupujici"/>
			<xsd:element name="UpresneniNotifikace" type="erp:upresneni_notifikace_schvalovani_poukazu" minOccurs="0"/>
			<xsd:element name="NotifikovatVydejnu" minOccurs="0" type="xsd:boolean"/>
			<xsd:element name="VydejnaEmail" minOccurs="0" type="xsd:string"/>
			<xsd:element name="ZdravotniPojistovnaKontaktEmail" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="512"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="provedeni_schvaleni_predpisu_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:provedeni_schvaleni_predpisu_doklad_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="overeni_mnozstvi_zp_type">
		<xsd:sequence>
			<xsd:element name="Kod">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nazev" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Mnozstvi">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.000001"/>
						<xsd:maxInclusive value="999999999.999999"/>
						<xsd:totalDigits value="15"/>
						<xsd:fractionDigits value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="overeni_omezeni_doklad_dotaz_type">
		<xsd:sequence>
			<xsd:element ref="erp2:Pristupujici"/>
			<xsd:element ref="erp2:Pacient"/>
			<xsd:element name="ZP" type="erp:overeni_mnozstvi_zp_type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="overeni_mnozstevni_limit_dotaz_type">
		<xsd:sequence>
			<xsd:element name="Doklad" type="erp:overeni_omezeni_doklad_dotaz_type"/>
			<xsd:element ref="erp2:Zprava"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="overeni_mnozstevni_limit_odpoved_type">
		<xsd:sequence>
			<xsd:element ref="erp2:Chyba" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="erp2:ZpravaOdpoved"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="seznam_predpisu_filtr">
		<xsd:sequence>
			<xsd:element name="KodPacienta" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="KodPredepisujiciho" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DatumCasOd" minOccurs="0" type="xsd:dateTime"/>
			<xsd:element name="DatumCasDo" minOccurs="0" type="xsd:dateTime"/>
			<xsd:element name="CP" minOccurs="0" type="xsd:string"/>
			<xsd:element name="Obsah" minOccurs="0" type="xsd:string"/>
			<xsd:element name="Stav" type="erp:stav_elektronickeho_poukazu" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="StavSchvalovani" type="erp:stav_schvalovani_poukazu" minOccurs="0"
						 maxOccurs="unbounded"/>
			<xsd:element name="LP" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Vydeje" minOccurs="0" type="xsd:boolean"/>
			<xsd:element name="PouzeNevydane" minOccurs="0" type="xsd:boolean"/>
			<xsd:element name="Platne" minOccurs="0" type="xsd:boolean"/>
			<xsd:element name="Zrusene" minOccurs="0" type="xsd:boolean"/>
			<xsd:element name="Stranka" minOccurs="1" type="xsd:int"/>
			<xsd:element name="Limit" minOccurs="1" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="seznam_pripravovanych_predpisu_filtr">
		<xsd:complexContent>
			<xsd:extension base="erp:seznam_predpisu_filtr">
				<xsd:sequence>
					<xsd:element name="KodVydavajiciho" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"/>
								<xsd:minLength value="1"/>
								<xsd:maxLength value="36"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="KodPracoviste" minOccurs="0" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="seznam_vydeju_filtr">
		<xsd:sequence>
			<xsd:element name="KodPacienta" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="KodVydavajiciho" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/>
						<xsd:minLength value="1"/>
						<xsd:maxLength value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="KodPracoviste" minOccurs="0" type="xsd:string"/>
			<xsd:element name="DatumCasOd" minOccurs="0" type="xsd:dateTime"/>
			<xsd:element name="DatumCasDo" minOccurs="0" type="xsd:dateTime"/>
			<xsd:element name="Obsah" minOccurs="0" type="xsd:string"/>
			<xsd:element name="VZP" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Zrusene" minOccurs="0" type="xsd:boolean"/>
			<xsd:element name="Stranka" minOccurs="1" type="xsd:int"/>
			<xsd:element name="Limit" minOccurs="1" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ZalozeniPredpisuDotaz" type="erp:zalozeni_predpisu_epo_dotaz_type"></xsd:element>
	<xsd:element name="ZalozeniPredpisuOdpoved" type="erp:ulozeni_dokladu_odpoved_type"></xsd:element>
	<xsd:element name="ZmenaPredpisuDotaz" type="erp:zmena_predpisu_epo_dotaz_type"></xsd:element>
	<xsd:element name="ZmenaPredpisuOdpoved" type="erp:ulozeni_dokladu_odpoved_type"></xsd:element>
	<xsd:element name="ZruseniPredpisuDotaz" type="erp:zruseni_dokladu_dotaz_type"></xsd:element>
	<xsd:element name="NacteniPredpisuDotaz" type="erp:nacteni_dokladu_dotaz_type"></xsd:element>
	<xsd:element name="NacteniPredpisuOdpoved" type="erp:nacteni_predpisu_epo_odpoved_type"></xsd:element>
	<xsd:element name="ZmenaStavuPredpisuDotaz" type="erp:zmena_stavu_predpisu_dotaz_type"></xsd:element>
	<xsd:element name="ZmenaStavuPredpisuOdpoved" type="erp:ulozeni_dokladu_odpoved_type"></xsd:element>
	<xsd:element name="ZmenaStavuSchvalovaniPredpisuDotaz"
				 type="erp:zmena_stavu_schvalovani_predpisu_dotaz_type"></xsd:element>
	<xsd:element name="ZmenaStavuSchvalovaniPredpisuOdpoved" type="erp:ulozeni_dokladu_odpoved_type"></xsd:element>
	<xsd:element name="ZmenaUdajuPoukazuDotaz" nillable="true" type="erp:zmena_udaju_poukazu_dotaz_type"></xsd:element>
	<xsd:element name="ZmenaUdajuPoukazuOdpoved" nillable="true" type="erp:ulozeni_dokladu_odpoved_type"></xsd:element>

	<xsd:element name="ZalozeniVydejeDotaz" nillable="true" type="erp:zalozeni_vydeje_epo_dotaz_type"></xsd:element>
	<xsd:element name="ZalozeniVydejeOdpoved" nillable="true" type="erp:ulozeni_dokladu_odpoved_type"></xsd:element>
	<xsd:element name="ZmenaVydejeDotaz" nillable="true" type="erp:zmena_vydeje_epo_dotaz_type"></xsd:element>
	<xsd:element name="ZmenaVydejeOdpoved" nillable="true" type="erp:ulozeni_dokladu_odpoved_type"></xsd:element>
	<xsd:element name="ZruseniVydejeDotaz" nillable="true" type="erp:zruseni_vydeje_epo_dotaz_type"></xsd:element>
	<xsd:element name="NacteniVydejeDotaz" type="erp:nacteni_dokladu_dotaz_type"></xsd:element>
	<xsd:element name="NacteniVydejeOdpoved" nillable="true" type="erp:nacteni_vydeje_epo_odpoved_type"></xsd:element>

	<xsd:element name="NacteniInformaceOZrusenemPoukazuDotaz" type="erp:nacteni_dokladu_dotaz_type"></xsd:element>
	<xsd:element name="NacteniInformaceOZrusenemVydejiDotaz" type="erp:nacteni_dokladu_dotaz_type"></xsd:element>
	<xsd:element name="StazeniPruvodkyDotaz" type="erp:nacteni_dokladu_dotaz_type"></xsd:element>

	<xsd:element name="PripojeniPrilohyDotaz" type="erp:pripojeni_prilohy_dotaz_type"></xsd:element>
	<xsd:element name="PripojeniPrilohyOdpoved" type="erp:pripojeni_prilohy_odpoved_type"></xsd:element>
	<xsd:element name="SeznamPrilohDotaz" type="erp:seznam_priloh_dotaz_type"></xsd:element>
	<xsd:element name="SeznamPrilohOdpoved" type="erp:seznam_priloh_odpoved_type"></xsd:element>
	<xsd:element name="NacteniPrilohyDotaz" type="erp:nacteni_prilohy_dotaz_type"></xsd:element>
	<xsd:element name="NacteniPrilohyOdpoved" type="erp:nacteni_prilohy_odpoved_type"></xsd:element>
	<xsd:element name="ZruseniPrilohyDotaz" type="erp:nacteni_prilohy_dotaz_type"></xsd:element>

	<xsd:element name="SeznamPredpisuKeSchvaleniDotaz"
				 type="erp:nacteni_predpisu_ke_schvaleni_epo_dotaz_type"></xsd:element>
	<xsd:element name="SeznamPredpisuKeSchvaleniOdpoved"
				 type="erp:nacteni_seznam_predpisu_epo_odpoved_type"></xsd:element>
	<xsd:element name="ProvedeniSchvaleniPredpisuDotaz"
				 type="erp:provedeni_schvaleni_predpisu_dotaz_type"></xsd:element>
	<xsd:element name="ProvedeniSchvaleniPredpisuOdpoved" type="erp:ulozeni_dokladu_odpoved_type"></xsd:element>
	<xsd:element name="SeznamPredpisuZmenaStavuDotaz"
				 type="erp:nacteni_predpisu_se_zmenou_epo_dotaz_type"></xsd:element>
	<xsd:element name="SeznamPredpisuZmenaStavuOdpoved"
				 type="erp:nacteni_seznam_predpisu_epo_odpoved_type"></xsd:element>
	<xsd:element name="SeznamPredpisuSignalniKodDotaz"
				 type="erp:nacteni_predpisu_signalni_kod_epo_dotaz_type"></xsd:element>
	<xsd:element name="SeznamPredpisuSignalniKodOdpoved"
				 type="erp:nacteni_predpisu_signalni_kod_epo_odpoved_type"></xsd:element>

	<xsd:element name="OveritMnozstevniLimitDotaz" nillable="true" type="erp:overeni_mnozstevni_limit_dotaz_type"/>
	<xsd:element name="OveritMnozstevniLimitOdpoved" nillable="true" type="erp:overeni_mnozstevni_limit_odpoved_type"/>

	<xsd:element name="SeznamPoukazuFiltr" type="erp:seznam_predpisu_filtr"></xsd:element>
	<xsd:element name="SeznamPripravovanychPoukazuFiltr" type="erp:seznam_pripravovanych_predpisu_filtr"></xsd:element>
	<xsd:element name="NacteniZkracenyPredpis" type="erp:nacteni_zkraceny_predpis_doklad_odpoved_type"></xsd:element>
	<xsd:element name="NacteniZkracenyPripravovanyPredpis"
				 type="erp:nacteni_zkraceny_pripravovany_predpis_doklad_odpoved_type"></xsd:element>
	<xsd:element name="SeznamVydejuFiltr" type="erp:seznam_vydeju_filtr"></xsd:element>

</xsd:schema>
